@use '../../assets/styles/constants.scss' as *;
@use '../../assets/styles/colors.scss' as *;
@use '../../assets/styles/text.mixins.scss' as *;


.project_page {
    display: flex;
    flex-direction: column;
    background-color: #202124;
    width: 100%;
    height: calc(100vh - $header-height);
    overflow-y: scroll;


    .project_header {
        color: white;
        font-size: 18px;
        font-weight: 400;
        background-color: #27272A;
        padding: 12px 15px 10px 15px;
        border-bottom: 1px solid #414144;
    }

    >table {
        margin-top: 10px;
        margin-left: 10px;
        border-collapse: collapse;

        >thead {
            border-bottom: 1px solid #414144;

            >tr {
                >th {
                    border-bottom: 1px solid #414144;
                    padding: 0 12px 12px 12px;
                    text-align: left;
                    @include regular-text-roboto(14px, 100%, #A1A1AA);
                }
            }
        }

        >tbody {
            >tr {
                >td {
                    position: relative;
                    padding: 21px 12px;
                    @include regular-text-roboto(14px, 100%, $regular-text-white);

                    border-bottom: 1px solid #414144;

                    .icon_level {
                        background-image: url("../../assets/images/level.svg");
                        background-size: cover;
                        width: 16px;
                        height: 16px;
                        min-width: 16px;
                        min-height: 16px;
                    }

                    .line {
                        position: absolute;
                        width: 2px;
                        height: 22px;
                        background-color: #C6C6C6;
                    }

                    .line_top {
                        top: 0px;
                        height: 28px;
                    }

                    .line_extension {
                        margin-top: -8px;
                        height: 30px;
                    }

                    .line_left {
                        height: 2px;
                        width: 13px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}