@use '../../assets/styles/colors.scss' as *;
@use '../../assets/styles/text.mixins' as *;

.header {
    display: flex;
    flex-direction: column;
    background-color: $menu-bg;
    border-bottom: 1px solid #414144;
    width: 100%;
    padding: 10px 20px 0 20px;

    .menu_wrapper {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        font-weight: 400;

        .icon {
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
            background-size: cover;
            cursor: pointer;
        }

        .back {
            background-image: url("../../assets/images/back.svg");
        }

        .menu {
            background-image: url("../../assets/images/menu.svg");
            margin-right: 20px;
        }

        .esc {
            margin-right: 20px;
            color: $regular-text-gray;
        }

        .back {
            margin-right: 20px;
            color: $regular-text-gray;
        }

        .view {
            text-decoration: none;
            @include regular-text-roboto();
            padding: 3px 3px 14px 3px;
            margin-right: 24px;

            &.underline {
                border-bottom: 2px solid $regular-element-white;
            }
        }

        .control {
            color: $regular-text-gray;
            margin-right: 20px;
            font-weight: 400;
        }
    }
}