@use '../../assets/styles/constants.scss' as *;
@use '../../assets/styles/colors.scss' as *;

.navbar {
    display: flex;
    flex-direction: column;
    background-color: $menu-bg;
    width: $navbar-width;
    height: calc(100vh - $header-height);

    .navbar_name {
        display: flex;
        flex-direction: column;
        padding: 8px 20px;
        color: #A1A1AA;
        border-right: 1px solid #414144;
        border-bottom: 1px solid #414144;

        .project_name {
            font-size: 14px;
            font-weight: 400;
        }

        .abb {
            font-size: 10px;
            font-weight: 400;
        }
    }

    .menu {
        color: $regular-text-white;
        border-right: 1px solid #414144;
        height: 100%;

        .section {
            width: 240px;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 20px;
            cursor: pointer;

            &:hover {
                background-color: #A1A1AA;
            }

            .icon {
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 24px;

                background-image: url("../../assets/images/project.svg");
                background-size: cover;
                margin-right: 14px;
            }
        }
    }
}